body {
  margin: 0;
  padding: 0;
}

p {
  font-size: 2rem;
}

.container {
  display: flex;
  margin-top: 2em;
  justify-content: center;
  align-items: center;
  width: 98%;
}

.app {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.todo-list {
  display: flex;
  flex-direction: column;
}
.input {
  text-align: center;
}

.items {
  display: flex;
  justify-content: space-between;
}



